@import url("./root.css");

button {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  background-image: url(https://i.pinimg.com/originals/c6/3f/2a/c63f2a519558e22acc57db6764fb9c01.jpg);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  border-color: white;
  transition: 300ms all ease-in-out;
  font-weight: 900;
  margin: 0.2rem;
}

button.red {
  background-color: var(--nord11);
  color: var(--nord4);
}

button.orange {
  background-color: var(--nord12);
}

button.green {
  background-color: var(--nord14);
}

button:hover {
  color: aqua;
  background-color: darkblue;
}

@media screen and (max-width: 993px) {
  button {
    font-size: 3rem;
  }
}
