@import url("./root.css");

footer {
  padding: 1rem 5rem;
  background-image: url(https://i.pinimg.com/originals/c6/3f/2a/c63f2a519558e22acc57db6764fb9c01.jpg);
  text-align: center;
  margin-top: 1rem;
}

footer .item {
  margin: 0.5rem;
}
